@font-face {
	font-family: VisOpenSans;
	src: url('VisOpenSans.woff') format('woff');
}

canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #191919;
    margin: 0px;
}

.root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.auto-horizontal-margin {
    margin-left: auto;
    margin-right: auto;
}

.auto-vertical-margin {
    margin-top: auto;
    margin-bottom: auto;
}

.game-title {
	font-family: VisOpenSans;
	font-size: 5em;
	color: white;
	
	text-align: center;
	padding-top: 10%;
}

.center-in-window {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.dialog-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	
    background-color: #ffffff5a;
}

.gwt-PopupPanelGlass {
    background-color: #fff;
    opacity: 0.35;
    filter: alpha(opacity=35);
}


.export-message {
	font-family: VisOpenSans;
	font-size: 2em;
	
	color: white;
	background-color: #191919;
	padding: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #fff;
}

.export-helper {
	position: absolute;
	top: -50px;
	z-index: -1;
	width: 2em;
	height: 2em;
	padding: 0px;
	border: none;
	outline: none;
	color: white;
}


.gwt-DialogBox .Caption {
	font-family: VisOpenSans;
	font-size: 2em;
    font-weight: bold;
	color: white;
	text-align: center;
	
    padding: 2px 16px 7px 16px;
    background-color: #191919;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 5px;
    background: white;
}

.import-dialog-textarea {
	font-family: VisOpenSans;
	color: black;
    padding: 2px 5px;
    
    width: 400px;
    height: 400px;
    resize: none;
    outline: none;
    border: none;
    background-color: #f0f0f0;
}

.import-dialog-controls .button {
    margin: 0px 5px;
}

.button {
	font-family: VisOpenSans;
	font-size: 1em;
    background-color: #191919;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
    cursor: pointer;
}
.button:hover {
    background-color: #5a5a5a;
}


.gwt-DialogBox .dialogTopLeft { }
.gwt-DialogBox .dialogTopLeftInner { }

.gwt-DialogBox .dialogMiddleLeft { }

.gwt-DialogBox .dialogBottomLeft { }
.gwt-DialogBox .dialogBottomLeftInner { }


.gwt-DialogBox .dialogTopRight { }
.gwt-DialogBox .dialogTopRightInner { }

.gwt-DialogBox .dialogMiddleRight { }

.gwt-DialogBox .dialogBottomRight { }
.gwt-DialogBox .dialogBottomRightInner { }


.gwt-DialogBox .dialogBottomCenter { }


.fade-in {
	animation: opacity 0.4s
}
@keyframes opacity {
	from {opacity:0} to {opacity:1}
}